.disabled {
    display: none;
}

#content {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

#content form h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.75rem;
    width: 100%;
    box-sizing: border-box;
}

form {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

form * {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    max-width: 30rem;
    box-sizing: border-box;
}

form input {
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #4b5253;
    border-color: #4b5253;
    color: var(--white);
    border-style: solid;
    transition: 0.2s;
    text-decoration: none;
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

button:hover {
    background-color: #fffae4;
    border-color: #3e4444;
    color: var(--black);
    transition: 0.2s;
}

button:active {
    background-color: #FFDDB0;
    border-color: #303535;
    transition: 0.2s;
}

button a {
    margin: 0;
    text-decoration: none;
    color: #fffae4;
    padding: 0.5rem 0;
}

button:active a, button:hover a {
    color: #4b5253;
}

@media screen and (max-width: 40rem) {
    
    #content form h1 {
        font-size: 2.5rem;
    }

    form * {
        font-size: 1rem;
        max-width: 32rem;
    }

    button {
        padding: 0.5rem 0.75rem;
    }
}

@media screen and (max-width: 20rem) {
    #content form h1 {
        font-size: 12.5vw;
        margin-bottom: 9vw;
    }

    form * {
        font-size: 5vw;
        max-width: 62vw;
    }

    button {
        padding: 0.25rem 0.5rem;
    }
}

.disabled {
    display: none;
}

#content {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

#content form h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.75rem;
    width: 100%;
    box-sizing: border-box;
}

form {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

form * {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    max-width: 30rem;
    box-sizing: border-box;
}

form input {
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #4b5253;
    border-color: #4b5253;
    color: var(--white);
    border-style: solid;
    transition: 0.2s;
    text-decoration: none;
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

button:hover {
    background-color: #fffae4;
    border-color: #3e4444;
    color: var(--black);
    transition: 0.2s;
}

button:active {
    background-color: #FFDDB0;
    border-color: #303535;
    transition: 0.2s;
}

button a {
    margin: 0;
    text-decoration: none;
    color: #fffae4;
    padding: 0.5rem 0;
}

button:active a, button:hover a {
    color: #4b5253;
}

@media screen and (max-width: 40rem) {
    
    #content form h1 {
        font-size: 2.5rem;
    }

    form * {
        font-size: 1rem;
        max-width: 32rem;
    }

    button {
        padding: 0.5rem 0.75rem;
    }
}

@media screen and (max-width: 20rem) {
    #content form h1 {
        font-size: 12.5vw;
        margin-bottom: 9vw;
    }

    form * {
        font-size: 5vw;
        max-width: 62vw;
    }

    button {
        padding: 0.25rem 0.5rem;
    }
}